<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Add Wardrobe - Unaga</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="assets/css/app.min.css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="assets/bundles/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="assets/bundles/jquery-selectric/selectric.css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="assets/bundles/chocolat/dist/css/chocolat.css">
    <link rel="stylesheet" href="assets/bundles/summernote/summernote-bs4.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.png' />

    <style>
        .container {
            background-color: #ffffff;
            width: 60%;
            min-width: 450px;
            position: relative;
            margin: 50px auto;
            padding: 50px 20px;
            border-radius: 7px;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
        }

        input[type="file"] {
            display: none;
        }

        label[for="file-input"] {
            display: block;
            position: relative;
            background-color: #025bee;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            width: 300px;
            padding: 18px 0;
            margin: auto;
            border-radius: 5px;
            cursor: pointer;
        }

        .container p {
            text-align: center;
            margin: 20px 0 30px 0;
        }

        #images {
            width: 60%;
            position: relative;
            margin: auto;
            display: flex;
            justify-self: space-evenly;
            gap: 20px;
            flex-wrap: wrap;
        }

        figure {
            width: 30%;
        }

        img {
            width: 100%;
        }

        figcaption {
            text-align: center;
            font-size: 2.4vmin;
            margin-top: 0.5vmin;
        }
    </style>
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
                  collapse-btn"> <i data-feather="align-justify"></i></a></li>
                        <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a></li>
                        <!-- <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li> -->
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
                            <span class="badge headerBadge1">
                                6 </span> </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar
                      text-white"> <img alt="image" src="assets/img/users/user-1.png" class="rounded-circle">
                                    </span> <span class="dropdown-item-desc"> <span class="message-user">John
                                            Deo</span>
                                        <span class="time messege-text">Please check your mail !!</span>
                                        <span class="time">2 Min Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread"> <span
                                        class="dropdown-item-icon bg-primary text-white"> <i class="fas
                        fa-code"></i>
                                    </span> <span class="dropdown-item-desc"> New Notification <span class="time">2 Min
                                            Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                            class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image"
                                src="assets/img/user.png" class="user-img-radious-style"> <span
                                class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello User</div>
                            <a href="profile.html" class="dropdown-item has-icon"> <i class="far
                    fa-user"></i> Profile
                            </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item has-icon text-danger"> <i
                                    class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/dashboard"> <img alt="image" src="assets/img/logo.png" class="header-logo" /> <span
                                class="logo-name">Unaga</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Modules</li>
                        <li class="dropdown">
                            <a href="/dashboard" class="nav-link"><i data-feather="grid"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="plus-square"></i><span>Categories</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_category">Add Category</a></li>
                                <li class="active"><a class="nav-link" href="/view_category">View Categories</a>
                                </li>
                                <li><a class="nav-link" href="/add_sub_category">Add Sub Category</a></li>
                                <li><a class="nav-link" href="/view_sub_category">View Sub Categories</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="layers"></i><span>Products</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_product">Add Product</a></li>
                                <li><a class="nav-link" href="/view_product">View Products</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="shopping-cart"></i><span>Order Management</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_order">Add Orders</a></li>
                                <li><a class="nav-link" href="/manage_order">Manage Orders</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="list"></i><span>Inventory</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/manage_inventory">Manage Inventories</a></li>
                                <li><a class="nav-link" href="/view_damaged_list">View Damages List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="refresh-ccw"></i><span>Transfer</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_transfer">Transfer Branch Wise</a></li>
                                <li><a class="nav-link" href="/manage_transfer">Manage Transfers</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="package"></i><span>Wardrobe</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_wardrobe">Add Wardrobe</a></li>
                                <li><a class="nav-link" href="/view_wardrobe">View Wardrobes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>Big
                                    Banners</span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_banner">Add Banner</a></li>
                                <li><a class="nav-link" href="/view_banner">View Banners</a></li>
                                <li><a class="nav-link" href="/add_leftbanner">Add Left-Banner</a></li>
                                <li><a class="nav-link" href="/view_leftbanner">View Left-Banners</a></li>
                                <li><a class="nav-link" href="/add_rightbanner">Add Right-Banner</a></li>
                                <li><a class="nav-link" href="/view_rightbanner">View Right-Banners</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="image"></i><span>Latest Arrivals
                                </span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_arrivals">Add Arrival</a></li>
                                <li><a class="nav-link" href="/view_arrivals">View Arrival</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="users"></i><span>User
                                    Logins</span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_customer">Add Customer</a></li>
                                <li><a class="nav-link" href="/view_customer">Customers List</a></li>
                                <li><a class="nav-link" href="/add_user">Add User</a></li>
                                <li><a class="nav-link" href="/view_user">Users List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="flag"></i><span>Reports</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="#.">Orders Reports</a></li>
                                <li><a class="nav-link" href="#.">Sales Reports</a></li>
                                <li><a class="nav-link" href="#.">Earnings Reports</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="/logout"><i data-feather="log-out"></i><span>Logout</span></a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title m-b-0">Add Wardrobe</h4>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard">
                                <i class="fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Wardrobe</li>
                        <li class="breadcrumb-item">Add Wardrobe</li>
                    </ul>
                    <div id="content-wrapper" class="d-flex flex-column">
                        <div id="content">
                            {% include 'messages.html' %}
                        </div>
                    </div>
                    <div class="section-body">
                        {% block content %}
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="card">
                                    <!-- <div class="card-header">
                    <h4>Input Text</h4>
                  </div> -->
                                    <form action="/add_wardrobe" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Name Of The Customer</label>
                                                                <input type="text" class="form-control" id="" required
                                                                    name="customer_name"
                                                                    placeholder="Enter Customer Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Mobile No.</label>
                                                                <input type="text" class="form-control" id="" required
                                                                    name="mobile_no" placeholder="Enter Mobile No."
                                                                    maxlength="10">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Alt. Mobile No.</label>
                                                                <input type="text" class="form-control" id="" required
                                                                    name="alt_mobile"
                                                                    placeholder="Enter Alternate Mobile No."
                                                                    maxlength="10">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Email Id</label>
                                                                <input type="email" class="form-control" id="" required
                                                                    name="email_id" placeholder="Enter Email Id">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>No. Of Dresses</label>
                                                                <input type="text" class="form-control" id="" required
                                                                    name="no_dressess"
                                                                    placeholder="Enter No. Of Dresses">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input type="file" id="file-input" required
                                                                    name="images" accept="image/png, image/jpeg"
                                                                    onchange="preview()" multiple>
                                                                <label for="file-input">
                                                                    <i class="fas fa-upload"></i> &nbsp; Choose a photos
                                                                </label>
                                                                <p id="num-of-files">No Files Chosen</p>
                                                                <div id="images"></div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-md-12">
                                                            <div class="form-group row mb-4" id="inputFormRowExpense">
                                                                <label
                                                                    class="col-form-label col-md-1 col-lg-1 col-sm-12">Images</label>
                                                                <div class="col-sm-1 col-md-1 col-lg-1">
                                                                    <h5>1)</h5>
                                                                </div>
                                                                <div class="col-sm-11 col-md-4 col-lg-4">
                                                                    <input type="file" class="form-control" id="images"
                                                                        required name="images" multiple />
                                                                </div>
                                                                <div class="col-sm-12 col-md-3 col-lg-3">
                                                                    <div id="imagePreview">
                                                                        <figure class="avatar avatar-xl">
                                                                            <img class="image-preview__image">
                                                                            <span class="image-preview__default-text">
                                                                            </span>
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-3 col-lg-3">
                                                                    <button class="btn btn-info ml-3 mr-1"
                                                                        id="add_form_field_images">Add +</button>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Taken Date & Time</label>
                                                                <input type="datetime-local" class="form-control" id=""
                                                                    name="">
                                                            </div>
                                                        </div> -->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Taken Date </label>
                                                                <input type="date" class="form-control" id="" required
                                                                    name="date">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label class="form-label invisible">Time</label>
                                                                <input type="time" class="form-control" id="" required
                                                                    name="time">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Wardrobe No.</label>
                                                                <input type="text" class="form-control" id="" required
                                                                    name="wardrobe_no" placeholder="Enter Wardrobe No.">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Reciever Name</label>
                                                                <input type="text" class="form-control" id="" required
                                                                    name="reciever_name"
                                                                    placeholder="Enter Reciever Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-right">
                                                <button class="btn btn-outline-primary m1-3 mr-1"
                                                    type="submit">Submit</button>
                                                <button class="btn btn-outline-success" type="reset">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endblock content %}
                    </div>
                </section>
            </div>
            <!-- footer starts -->
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="http://askmeguru.com" target="_blank">@2021, Unaga Clothing, All Rights Reserved. Designed
                        By Askmeguru Technologies</a></a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
            <!-- footer ends -->
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="assets/bundles/cleave-js/dist/cleave.min.js"></script>
    <script src="assets/bundles/cleave-js/dist/addons/cleave-phone.us.js"></script>
    <script src="assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js"></script>
    <script src="assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="assets/bundles/select2/dist/js/select2.full.min.js"></script>
    <script src="assets/bundles/jquery-selectric/jquery.selectric.min.js"></script>
    <script src="assets/bundles/chocolat/dist/js/jquery.chocolat.min.js"></script>
    <script src="assets/bundles/summernote/summernote-bs4.js"></script>
    <script src="assets/bundles/upload-preview/assets/js/jquery.uploadPreview.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="assets/js/page/forms-advanced-forms.js"></script>
    <!-- Template JS File -->
    <script src="assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="assets/js/custom.js"></script>
    <!--------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!-- <script>
        const images = document.getElementById("images");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");
        images.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();

                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function () {
                    console.log(this);
                    previewImage.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file);
            } else {
                previewDefaultText.style.display = null;
                previewImage.style.display = null;
                previewImage.setAttribute("src", "");
            }
        });
    </script> -->

    <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- <script type="text/javascript">

        $(document).ready(function () {
            var max_fields_phases = 10;
            var wrapper_phases = $("#inputFormRowExpense");
            var add_button_phases = $("#add_form_field_images");

            var x = 1;
            $(add_button_phases).click(function (e) {
                e.preventDefault();
                if (x < max_fields_phases) {
                    x++;
                    $(wrapper_phases).append('<div class="col-md-12 deleterow"><div class="form-group row mb-4" id="inputFormRowExpense"><label class="col-form-label col-md-1 col-lg-1 col-sm-12">Images</label><div class="col-sm-1 col-md-1 col-lg-1"><h5>' + x + ')</h5></div> <div class="col-sm-11 col-md-4 col-lg-4"><input type="file" class="form-control" id="images" required name="images"></div><div class="col-sm-12 col-md-3 col-lg-3"><div id="imagePreview"><figure class="avatar avatar-x1"><img class="image-preview__image"><span class="image-preview__default-text"></span></figure></div></div><div class="col-sm-12 col-md-3 col-lg-3"><button class="btn btn-danger ml-3 mr-1" id="delete">Delete</button></div></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });

            $(wrapper_phases).on("click", "#delete", function (e) {
                e.preventDefault();
                $(this).closest('.deleterow').remove();
                x--;
            })
        });
    </script> -->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 2000)
    </script>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <script>
        let fileInput = document.getElementById("file-input");
        let imageContainer = document.getElementById("images");
        let numOfFiles = document.getElementById("num-of-files");

        function preview() {
            imageContainer.innerHTML = "";
            numOfFiles.textContent = `${fileInput.files.length}
             Files Selected`;

            for (i of fileInput.files) {
                let reader = new FileReader();
                let figure = document.createElement("figure");
                let figCap = document.createElement("figcaption")
                    ;
                figCap.innerText = i.name;
                figure.appendChild(figCap);
                reader.onload = () => {
                    let img = document.createElement("img");
                    img.setAttribute("src", reader.result);
                    figure.insertBefore(img, figCap);
                }
                imageContainer.appendChild(figure);
                reader.readAsDataURL(i);
            }
        }

    </script>
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------->
</body>

</html>