<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Edit Damages - Unaga</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet"
        href="{% static 'assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/jquery-selectric/selectric.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.png' %}" />
</head>

<body>
    <!-- <div class="loader"></div> -->
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
                  collapse-btn"> <i data-feather="align-justify"></i></a></li>
                        <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a></li>
                        <!-- <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li> -->
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link nav-link-lg message-toggle"><i data-feather="mail"></i>
                            <span class="badge headerBadge1">
                                6 </span> </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Messages
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-message">
                                <a href="#" class="dropdown-item"> <span class="dropdown-item-avatar
                      text-white"> <img alt="image" src="{% static 'assets/img/users/user-1.png' %}"
                                            class="rounded-circle">
                                    </span> <span class="dropdown-item-desc"> <span class="message-user">John
                                            Deo</span>
                                        <span class="time messege-text">Please check your mail !!</span>
                                        <span class="time">2 Min Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown"
                            class="nav-link notification-toggle nav-link-lg"><i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread"> <span
                                        class="dropdown-item-icon bg-primary text-white"> <i class="fas
                        fa-code"></i>
                                    </span> <span class="dropdown-item-desc"> New Notification <span class="time">2 Min
                                            Ago</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                            class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image"
                                src="{% static 'assets/img/user.png' %}" class="user-img-radious-style"> <span
                                class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello User</div>
                            <a href="profile.html" class="dropdown-item has-icon"> <i class="far
                    fa-user"></i> Profile
                            </a> <a href="#" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item has-icon text-danger"> <i
                                    class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/dashboard"> <img alt="image" src="{% static 'assets/img/logo.png' %}"
                                class="header-logo" /> <span class="logo-name">Unaga</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Modules</li>
                        <li class="dropdown">
                            <a href="/dashboard" class="nav-link"><i data-feather="grid"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="plus-square"></i><span>Categories</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_category">Add Category</a></li>
                                <li><a class="nav-link" href="/view_category">View Categories</a></li>
                                <li><a class="nav-link" href="/add_sub_category">Add Sub Category</a></li>
                                <li><a class="nav-link" href="/view_sub_category">View Sub Categories</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="layers"></i><span>Products</span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_product">Add Product</a></li>
                                <li><a class="nav-link" href="/view_product">View Products</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="shopping-cart"></i><span>Order Management</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_order">Add Orders</a></li>
                                <li><a class="nav-link" href="/manage_order">Manage Orders</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="list"></i><span>Inventory</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/manage_inventory">Manage Inventories</a></li>
                                <li><a class="nav-link" href="/view_damaged_list">View Damages List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="refresh-ccw"></i><span>Transfer</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_transfer">Transfer Branch Wise</a></li>
                                <li><a class="nav-link" href="/manage_transfer">Manage Transfers</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="package"></i><span>Wardrobe</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/add_wardrobe">Add Wardrobe</a></li>
                                <li><a class="nav-link" href="/view_wardrobe">View Wardrobes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>Big
                                    Banners</span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_banner">Add Banner</a></li>
                                <li><a class="nav-link" href="/view_banner">View Banners</a></li>
                                <li><a class="nav-link" href="/add_leftbanner">Add Left-Banner</a></li>
                                <li><a class="nav-link" href="/view_leftbanner">View Left-Banners</a></li>
                                <li><a class="nav-link" href="/add_rightbanner">Add Right-Banner</a></li>
                                <li><a class="nav-link" href="/view_rightbanner">View Right-Banners</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="image"></i><span>Latest Arrivals
                                </span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_arrivals">Add Arrival</a></li>
                                <li><a class="nav-link" href="/view_arrivals">View Arrival</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="users"></i><span>User
                                    Logins</span></a>
                            <ul class="dropdown-menu">
                                <li class="active"><a class="nav-link" href="/add_customer">Add Customer</a></li>
                                <li><a class="nav-link" href="/view_customer">Customers List</a></li>
                                <li><a class="nav-link" href="/add_user">Add User</a></li>
                                <li><a class="nav-link" href="/view_user">Users List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                    data-feather="flag"></i><span>Reports</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="#.">Orders Reports</a></li>
                                <li><a class="nav-link" href="#.">Sales Reports</a></li>
                                <li><a class="nav-link" href="#.">Earnings Reports</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="/logout"><i data-feather="log-out"></i><span>Logout</span></a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title m-b-0">Edit Damages</h4>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/dashboard">
                                <i class="fas fa-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">Damages</li>
                        <li class="breadcrumb-item">Edit Damages</li>
                    </ul>
                    <div class="section-body">
                        {% block content %}
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="card">
                                    <!-- <div class="card-header">
                    <h4>Input Text</h4>
                  </div> -->
                                    <form action="/edit_damaged_list/{{ damaged.id }}" method="POST"
                                        enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Product Name</label>
                                                                <input type="text" class="form-control"
                                                                    id="product_name" Required name="product_name"
                                                                    placeholder="Enter Product Name"
                                                                    value="{{ damaged.product_name }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Product Code</label>
                                                                <input type="text" class="form-control"
                                                                    id="product_code" Required name="product_code"
                                                                    placeholder="12345"
                                                                    value="{{ damaged.product_code }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Categories</label>
                                                                <input type="text" class="form-control" id="categories"
                                                                    Required name="categories" placeholder="Categories"
                                                                    value="{{ damaged.categories }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Sub Categories</label>
                                                                <input type="text" class="form-control"
                                                                    id="sub_categories" Required name="sub_categories"
                                                                    placeholder="Sub Categories"
                                                                    value="{{ damaged.sub_categories }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Unit price</label>
                                                                <input type="text" class="form-control" id="unit_price"
                                                                    Required name="unit_price"
                                                                    placeholder="Enter Unit price"
                                                                    value="{{ damaged.unit_price }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Purchase price</label>
                                                                <input type="text" class="form-control"
                                                                    id="purchase_price" Required name="purchase_price"
                                                                    placeholder="Enter Purchase price"
                                                                    value="{{ damaged.purchase_price }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Total Quantity</label>
                                                                <input type="text" class="form-control"
                                                                    id="total_quantity" Required name="total_quantity"
                                                                    placeholder="Enter Total Quantity"
                                                                    value="{{ damaged.total_quantity }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Damaged Quantity</label>
                                                                <input type="text" class="form-control"
                                                                    id="damaged_quantity" Required
                                                                    name="damaged_quantity"
                                                                    placeholder="Enter Damaged Quantity"
                                                                    value="{{ damaged.damaged_quantity }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-right">
                                                <button class="btn btn-outline-primary m1-3 mr-1"
                                                    type="submit">Update</button>
                                                <button class="btn btn-outline-success" type="reset">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endblock content %}
                    </div>
                </section>
            </div>
            <!-- footer starts -->
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="http://askmeguru.com" target="_blank">@2021, Unaga Clothing, All Rights Reserved. Designed
                        By Askmeguru Technologies</a></a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
            <!-- footer ends -->
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <!-- JS Libraies -->
    <script src="{% static 'assets/bundles/cleave-js/dist/cleave.min.js' %}"></script>
    <script src="{% static 'assets/bundles/cleave-js/dist/addons/cleave-phone.us.js' %}"></script>
    <script src="{% static 'assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
    <script src="{% static 'assets/bundles/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static 'assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'assets/bundles/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'assets/bundles/jquery-selectric/jquery.selectric.min.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/forms-advanced-forms.js' %}"></script>
    <!-- Template JS File -->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <!-- Custom JS File -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>