<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form method="POST" action="/final">
    {% csrf_token %}

        <input type="text" name="cname" placeholder="Name">

        <input type="text" name="clast" placeholder="last name">

        <input type="text" name="caddress" placeholder="address">

        <input type="text" name="ccity" placeholder="city">

        <input type="text" name="cstate" placeholder="state">

        <input type="text" name="cpin" placeholder="pin code">

        <input type="text" name="cphone" placeholder="phone">

        <input type="text" name="cemail" placeholder="email">

        <button>Save</button>


</form>
</body>
</html>